<head>
    <link href="https://fonts.googleapis.com/css?family=Catamaran:400,700|Quicksand&display=swap" rel="stylesheet">
</head>

<div class="home">

<div class="centered-left">
    Your concert plans deserve better<br>
    <%= link_to "Get Started", login_path, class: "btn bg-transparent btn-outline-secondary"%>
</div>

</div>