<h1>Events</h1>

<ul>
    <% @events.each do |event| %>
        <li>
        Artist: <%=event.artist%><br>
        Venue: <%=event.venue%><br>
        Date: <%=event.date%><br>
        </li>
    <% end %>
</ul>