

<h1>Events/h1>

<ul>
    <li>
    <% @event_array.each do |hash| %>
        <% hash.each do |key, value| %>
            <%="#{key}: #{value}"%><br>
            <%="#{key}: #{value}"%><br>
            <%="#{key}: #{value}"%><br>
        <% end %>
    <% end %>
    </li>
</ul>