
 .calendar-heading {
    font-family: 'Quicksand', sans-serif;
    font-size: 110%;
    text-align: center;
    justify-content: space-around;
 }

.span {
    calendar-title {
        justify-content: space-around;
    }
}

.search-title {
    font-family: 'Quicksand', sans-serif;
    margin-top: 10px;
    font-size: 50px;
    text-align: center;
}

.home { 
    background-image: image-url('IMG-5677.jpg'); 
    height: 100vh;
    width: 100vw;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    font-family: 'Quicksand', sans-serif;
  }

.centered-left {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Quicksand', sans-serif;
    color: white;
    margin-left: 315px;
    font-size: 30px;
    opacity: 80%;
  }

#event_body {
    margin: 20px;
    font-family: 'Catamaran', sans-serif;
    font-size: 110%;
}

.card-title {
    font-size: 30px;
    font-family: 'Catamaran', sans-serif;
    font-weight: 700;
}


#event_button {
    font-size: small;
    size: x-small;
}

.title {
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 4em;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

#event_search {
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.5em;
    font-family: 'Catamaran', sans-serif;
}

.flash {
    animation: flash 3s;
    opacity: 0;

}

@keyframes flash {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    99% {
        opacity: 0;
    }
    100% {
        display: none;
    }
}