

#event_body {
    margin: 20px;
    font-family: 'Catamaran', sans-serif;
    font-size: 110%;
}

.card-title {
    font-size: 30px;
    font-family: 'Catamaran', sans-serif;
    font-weight: 700;
}


#event_button {
    font-size: small;
    size: x-small;
}

.title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 4em;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

#event_search {
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.5em;
    font-family: 'Catamaran', sans-serif;
}