<div class="navbar navbar-light bg-primary border-bottom shadow-sm sticky-top" style="background-color: #e3f2fd;">
   <h5 class="my-0 mr-md-auto font-weight-normal">CONCERT CAL</h5>

   <nav class="my-2 my-md-0 mr-md-3">
       <%= link_to "Browse Events", events_path, class: "text-dark mr-3" %>
       <%= link_to "My Concert Cal", "#", class: "text-dark mr-3" %>
       <%= link_to "Settings", "#", class: "text-dark mr-3" %>
   </nav>
   <%= link_to "Sign out", delete_session_path, method: :delete, class: "btn btn-outline-primary" %>

</div>